body{
    background-color:#C0EEE4;;
}
h1{
    color:blue
}
h3{
    color:blue;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(168, 160, 160);
    border-width: 5px;
    width: 15%;
}   